{% extends 'templateMain.html' %} {% block title %} Practice page {% endblock %}
{% block body %}
<div class="container-fluid mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <p class="fw-bold" style="font-size: 3vw; line-height: 1.2">
        WELCOME TO EXAM SIMULATION!
      </p>
      <hr />
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card border-secondary">
            <img
              src="/static/landing/onsite.png"
              class="card-img-top"
              alt="..."
            />
            <div class="d-flex justify-content-center mt-2 mb-0">
              <a
                href="/take-exam-on-site"
                class="fw-bold"
                style="font-size: 2vw"
                >LAUNCH ON-SITE VERSION</a
              >
            </div>
            <div class="card-body">
              <p class="card-text text-center">
                This will help you prepare before taking the exam at DMV office.
              </p>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card border-secondary">
            <img
              src="/static/landing/online.png"
              class="card-img-top"
              alt="..."
            />
            <div class="d-flex justify-content-center mt-2 mb-0">
              <a
                href="/take-exam?name=practice-1"
                class="fw-bold"
                style="font-size: 2vw"
                >LAUNCH ONLINE VERSION</a
              >
            </div>
            <div class="card-body">
              <p class="card-text text-center">
                This will help you prepare before taking the DMV exam online.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
