{% extends 'templateMain.html' %} {% block title %} Practice page {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>
        These are comprehensive practice exams that we have collected over the
        years.
      </h2>
      <a href="/take-practice?name=practice-1">Practice #1</a> <br />
      <a href="/practice2">Practice #2</a> <br />
      <a href="/practice3">Practice #3</a> <br />
      <hr />
      <a href="/take-practice?name=practice-sign-1">Practice Sign #1</a> <br />
      <a href="/take-practice?name=practice-sign-2">Practice Sign #2</a> <br />
      <a href="/take-practice?name=practice-sign-3">Practice Sign #3</a> <br />
      <a href="/take-practice?name=practice-sign-4">Practice Sign #4</a> <br />
      <a href="/take-practice?name=practice-sign-5">Practice Sign #5</a> <br />
    </div>
  </div>
</div>
{% endblock %}
