{% extends 'templateMain.html' %} {% block title %} Practice page {% endblock %}
{% block body %}
<div class="container-fluid mt-3 mb-5">
  <div class="row justify-content-center">
    <div class="col-10">
      <!-- <h1>Practice</h1> -->
      <p class="fw-bold" style="font-size: 3vw; line-height: 1.2">
        WELCOME TO PRACTICE MODE!
      </p>
      <hr />
      <p>
        Prepare for your DMV test with our interactive practice samples. Each
        theory practice will have 20 questions, whereas each road-sign practice
        will have only 10 questions. Choose the practice style that suits your
        preferences and study habits.
      </p>
      <div class="card border-secondary">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/static/landing/one.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sequential Practice</h5>
              <p class="text-muted">
                Each question is presented one at a time, so take your time to
                answer each question before moving on to the next one.
              </p>
              <div class="card-text">
                <div class="row justify-content-start">
                  <div class="col-4">
                    <ul class="ml-0 pl-4">
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-1"
                          >Practice Theory #1</a
                        >
                      </li>
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-2"
                          >Practice Theory #2</a
                        >
                      </li>
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-3"
                          >Practice Theory #3</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="ml-0 pl-4">
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-signs-1"
                          >Practice Road Signs #1</a
                        >
                      </li>
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-signs-2"
                          >Practice Road Signs #2</a
                        >
                      </li>
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-signs-3"
                          >Practice Road Signs #3</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="col-4 pl-0">
                    <ul class="ml-0 pl-4">
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-signs-4"
                          >Practice Road Signs #4</a
                        >
                      </li>
                      <li class="mb-2">
                        <a href="/take-practice?name=practice-signs-5"
                          >Practice Road Signs #5</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card border-secondary mt-4">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="/static/landing/all.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Simultaneous Practice</h5>
              <p class="text-muted">
                All questions are presented at once. You can take your time to
                think and answer them in any order you prefer before submitting
                to see the result.
              </p>
              <div class="card-text">
                <div class="row justify-content-start">
                  <div class="col-4">
                    <ul class="ml-0 pl-4">
                      <li class="mb-2">
                        <a href="/take-practice-all-questions?name=practice-1"
                          >Practice Theory #1</a
                        >
                      </li>
                      <li class="mb-2">
                        <a href="/take-practice-all-questions?name=practice-2"
                          >Practice Theory #2</a
                        >
                      </li>
                      <li class="mb-2">
                        <a href="/take-practice-all-questions?name=practice-3"
                          >Practice Theory #3</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="col-4">
                    <ul class="ml-0 pl-4">
                      <li class="mb-2">
                        <a
                          href="/take-practice-all-questions?name=practice-signs-1"
                          >Practice Road Signs #1</a
                        >
                      </li>
                      <li class="mb-2">
                        <a
                          href="/take-practice-all-questions?name=practice-signs-2"
                          >Practice Road Signs #2</a
                        >
                      </li>
                      <li class="mb-2">
                        <a
                          href="/take-practice-all-questions?name=practice-signs-3"
                          >Practice Road Signs #3</a
                        >
                      </li>
                    </ul>
                  </div>
                  <div class="col-4 pl-0">
                    <ul class="ml-0 pl-4">
                      <li class="mb-2">
                        <a
                          href="/take-practice-all-questions?name=practice-signs-4"
                          >Practice Road Signs #4</a
                        >
                      </li>
                      <li class="mb-2">
                        <a
                          href="/take-practice-all-questions?name=practice-signs-5"
                          >Practice Road Signs #5</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
