{% extends 'templateMain.html' %}
{% block title %} Score History {% endblock %}

{% block body %}
<div class="container">
  <h1>Your score history</h1>
  <hr />
  
  {% if has_history == 1 %}
    <div class="row mb-3">
        <div class="col-6 d-flex flex-column align-items-center">
            <p>Practice</p>
            <img src="{{ url_for('static', filename='practice_plot.png') }}" alt="Practice Scores">
        </div>
        <div class="col-6 d-flex flex-column align-items-center">
            <p>Exam</p>
            <img src="{{ url_for('static', filename='exam_plot.png') }}" alt="Exam Scores">
        </div>
    </div>
  
    <div class="row">
        <div class="col-6">
          <table class="table table-info table-striped table-hover">
            <thead>
              <tr>
                <th>Practice Name</th>
                <th>Score</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for prac_score in practice_scores %}
              <tr>
                <td>{{ prac_score.practice_name }}</td>
                <td>{{ prac_score.score }}</td>
                <td>{{ prac_score.timestamp.strftime('%Y-%m-%d') }}</td>
                <td>{{ prac_score.timestamp.strftime('%H:%M:%S') }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-6">
          <table class="table table-success table-striped table-hover">
            <thead>
              <tr>
                <th>Exam</th>
                <th>Score</th>
                <th>Date</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(exam_scores|length) %}
              <tr>
                <th>{{ i + 1 }}</th>
                <td>{{ exam_scores[i].score }}</td>
                <td>{{ exam_scores[i].timestamp.strftime('%Y-%m-%d') }}</td>
                <td>{{ exam_scores[i].timestamp.strftime('%H:%M:%S') }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  {% elif has_history == -1 %}
    <p>You don't have any score history yet.</p>
  {% endif %}
</div>
{% endblock %}
