{% extends 'templateMain.html' %} {% block title %} Exam page {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-9">
      <form id="examForm" action="/take-exam" method="post">
        <h2>Exam</h2>
        <p>Note: You have 3 skips for this exam. For each question, you need to either submit your answer or skip in order to go to the next question. Good luck!</p>
        
        {% for q in questions %}
        <div id="{{ q.id }}" class="mb-4">
          <p>Question {{ q.id + 1}}: {{ q.question}}</p>

          <input type="radio" id="answer1_{{ q.id }}" name="{{ q.id }}" value="{{ q.a }}" onclick="enableSubmit({{q.id}})" {%
          if q.chose == q.a %} checked {% endif %} {% if q.chose != '' %} disabled
          {% endif %}/>
          <label for="answer1_{{ q.id }}" {% if q.chose and q.a == q.answer %} class="bg-success" {% endif %} {% if q.chose == q.a and q.a != q.answer %} class="bg-danger" {% endif %}>{{ q.a }}</label><br />


          <input type="radio" id="answer2_{{ q.id }}" name="{{ q.id }}" value="{{ q.b }}" onclick="enableSubmit({{q.id}})" {%
          if q.chose == q.b %} checked {% if q.chose == q.answer %}
          class="bg-success" {% else %} class="bg-warning" {% endif %}{% endif %}
          {% if q.chose != '' %} disabled {% endif %}/>
          <label for="answer2_{{ q.id }}" {% if q.chose and q.b == q.answer %} class="bg-success" {% elif q.chose == q.b and q.b != q.answer %} class="bg-danger" {% endif %}>{{ q.b }}</label><br />

          <input type="radio" id="answer3_{{ q.id }}" name="{{ q.id }}" value="{{ q.c }}" onclick="enableSubmit({{q.id}})" {%
          if q.chose == q.c %} checked {% if q.chose == q.answer %}
          class="bg-success" {% else %} class="bg-warning" {% endif %}{% endif %}
          {% if q.chose != '' %} disabled {% endif %}/>
          <label for="answer3_{{ q.id }}" {% if q.chose and q.c == q.answer %} class="bg-success" {% elif q.chose == q.c and q.c != q.answer %} class="bg-danger" {% endif %}>{{ q.c }}</label><br />

          <input type="radio" id="answer4_{{ q.id }}" name="{{ q.id }}" value="{{ q.d }}" onclick="enableSubmit({{q.id}})" {%
          if q.chose == q.d %} checked {% if q.chose == q.answer %}
          class="bg-success" {% else %} class="bg-warning" {% endif %}{% endif %}
          {% if q.chose != '' %} disabled {% endif %}/>
          <label for="answer4_{{ q.id }}" {% if q.chose and q.d == q.answer %} class="bg-success" {% elif q.chose == q.d and q.d != q.answer %} class="bg-danger" {% endif %}>{{ q.d }}</label><br />

          {% if points < 0 %}
          <button type="button" id="submitButton_{{ q.id }}" onclick="nextQuestion()" disabled>Submit</button>
          {% endif %}
        </div>
        
        {% endfor %}

        {% if points >= 0 %}
        <h2>You chose correctly {{ points }} answers!</h2>
        <a href="/take-exam?name={{ name }}">Retake this practice exam.</a>
        <br />
        <a href="/exam">Practice a different one.</a>
        {% else %}
        <input type="hidden" name="name" value="{{ name }}" />
        <button type="button" id="skipButton" onclick="nextQuestion('skip')">Skip</button>
        {% endif %}
      </form>
    </div>
    <div class="col-3 bg-success">
      <div class="container position-fixed"></div>
    </div>
  </div>
</div>

<script>
    let cur_index = 0;
    let points = {{ points }};
    let num_questions = {{ questions | length }};
    let skip_count = 0;

    let skip_question_indexes = []

    console.log(points);

    // User starts taking exam
    // Hide all questions except the first one
    if (points < 0) {
        for (var i = 1; i < 20; i++) {
            
            var element = document.getElementById(i);
            if (element) {
                element.style.display = "none";
            }
        } 
    }

    // User click next button, hidden current question, display next question
    function nextQuestion(type = "next") {

        // getting to the next question from the skip list
        if (cur_index >= num_questions - 1) {

            // user didn't skip any question
            if (skip_question_indexes.length == 0) {
                document.getElementById("examForm").submit();
            }
            
            // user still have skipped questions
            document.getElementById("skipButton").disabled = true;
            nextSkipQuestion();
            return 
        }

        // save all question indexes that user skips
        if (type == "skip") {
            skip_question_indexes.push(cur_index);
            skip_count++;
            if (skip_count == 3) {
                document.getElementById("skipButton").disabled = true;
            }

        }

        var cur_element = document.getElementById(cur_index);
        if (cur_element) {
            cur_element.style.display = "none";
        }

        cur_index++;

        var next_element = document.getElementById(cur_index);
        if (next_element) {
            next_element.style.display = "block";
        }

    }

    function nextSkipQuestion() {

        if (cur_index >= 500) {
            cur_index -= 500;
        }
        console.log("Hide question index: " + cur_index);
        document.getElementById(cur_index).style.display = "none";

        // get the first skipped question index in the list 
        cur_index = skip_question_indexes.shift();

        // document.getElementById(cur_index).style.display = "none";
        document.getElementById(cur_index).style.display = "block";

        cur_index = 500 + cur_index;
    }

    function enableSubmit(question_index) {
        let id = "submitButton_" + question_index;
        document.getElementById(id).disabled = false;
    }

</script>

{% endblock %}
