{% extends 'templateMain.html' %} {% block title %} Practice page {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-9">
      <form id="practiceForm" action="/take-practice" method="post">
        <h2>Practice</h2>
        
        {% for q in questions %}

          <div class="mb-4">
            <p>Question {{ q.id + 1}}:</p>
            {% if q.type == 'normal' %}
              <p>{{ q.question}}</p>
            {% else %}
              <img src="/static/signs/{{q.question}}.png" alt="" style="display: block; max-width: 350px;">
            {% endif %}

            <input type="radio" id="answer1_{{ q.id }}" name="{{ q.id }}" value="{{ q.a }}" {%
            if q.chose == q.a %} checked {% endif %} {% if q.chose != '' %} disabled
            {% endif %}/>
            <label for="answer1_{{ q.id }}" {% if q.chose and q.a == q.answer %} class="bg-success" {% endif %} {% if q.chose == q.a and q.a != q.answer %} class="bg-danger" {% endif %}>{{ q.a }}</label><br />


            <input type="radio" id="answer2_{{ q.id }}" name="{{ q.id }}" value="{{ q.b }}" {%
            if q.chose == q.b %} checked {% if q.chose == q.answer %}
            class="bg-success" {% else %} class="bg-warning" {% endif %}{% endif %}
            {% if q.chose != '' %} disabled {% endif %}/>
            <label for="answer2_{{ q.id }}" {% if q.chose and q.b == q.answer %} class="bg-success" {% elif q.chose == q.b and q.b != q.answer %} class="bg-danger" {% endif %}>{{ q.b }}</label><br />

            <input type="radio" id="answer3_{{ q.id }}" name="{{ q.id }}" value="{{ q.c }}" {%
            if q.chose == q.c %} checked {% if q.chose == q.answer %}
            class="bg-success" {% else %} class="bg-warning" {% endif %}{% endif %}
            {% if q.chose != '' %} disabled {% endif %}/>
            <label for="answer3_{{ q.id }}" {% if q.chose and q.c == q.answer %} class="bg-success" {% elif q.chose == q.c and q.c != q.answer %} class="bg-danger" {% endif %}>{{ q.c }}</label><br />

            <input type="radio" id="answer4_{{ q.id }}" name="{{ q.id }}" value="{{ q.d }}" {%
            if q.chose == q.d %} checked {% if q.chose == q.answer %}
            class="bg-success" {% else %} class="bg-warning" {% endif %}{% endif %}
            {% if q.chose != '' %} disabled {% endif %}/>
            <label for="answer4_{{ q.id }}" {% if q.chose and q.d == q.answer %} class="bg-success" {% elif q.chose == q.d and q.d != q.answer %} class="bg-danger" {% endif %}>{{ q.d }}</label><br />
          </div>

        {% endfor %}

        {% if points >= 0 %}
        <h2>You chose correctly {{ points }} answers!</h2>
        <a href="/take-practice?name={{ name }}">Retake this practice exam.</a>
        <br />
        <a href="/practice">Practice a different one.</a>
        {% else %}
        <input type="hidden" name="name" value="{{ name }}" />
        <input
          type="submit"
          id="submitButton"
          value="Submit"
        />
        {% endif %}
      </form>
    </div>
    <div class="col-3 bg-success">
      <div class="container position-fixed"></div>
    </div>
  </div>
</div>

{% endblock %}
