{% extends 'templateMain.html' %}
{% block title %} Practice page {% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-9 bg-primary">
      <h5>Question 1</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae neque
        veniam laboriosam enim ut repellendus atque quas tempora. Voluptas
        deleniti voluptatem reiciendis aspernatur illum adipisci esse, animi
        iste minima natus aut rem sed iure, architecto fugit quia perferendis
        corporis soluta voluptates quis neque, nesciunt eligendi obcaecati.
        Cumque repudiandae aliquid quam ipsum animi quo tenetur porro
        reiciendis, dolorum aspernatur dolorem ut culpa. Ut fugiat, blanditiis
        ullam minima ducimus, alias repellat sit quos delectus rem nesciunt
        expedita beatae sunt. Quibusdam, sapiente obcaecati? Ducimus quisquam
        minus nam est corporis quaerat, quibusdam molestias eligendi magni
        distinctio ut praesentium officia dolore consectetur, culpa nostrum
        modi? Iste, deleniti necessitatibus. Id delectus similique cumque non
        cum esse aliquam veritatis! Culpa, nostrum! Voluptatum libero nam
        tempore exercitationem eos itaque facere optio ex, esse sapiente
        necessitatibus atque similique suscipit ullam, accusantium voluptas
        iusto! Aperiam ipsam officia, commodi debitis molestiae magnam quaerat
        voluptatem dolorum culpa necessitatibus ab excepturi tempora error sunt
        expedita nobis quo praesentium dolor? Temporibus a perferendis expedita
        maxime odio? Doloremque, voluptates atque quo inventore maxime corporis
        assumenda ducimus ullam facere sint voluptatum. Exercitationem corrupti
        nemo ullam deleniti corporis repellat quasi quas commodi, debitis
        veritatis nobis quae consectetur unde? Expedita accusantium dolor
        eligendi. Minus, temporibus. Earum, quas rerum!
      </p>
      <h5>Question 2</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae neque
        veniam laboriosam enim ut repellendus atque quas tempora. Voluptas
        deleniti voluptatem reiciendis aspernatur illum adipisci esse, animi
        iste minima natus aut rem sed iure, architecto fugit quia perferendis
        corporis soluta voluptates quis neque, nesciunt eligendi obcaecati.
        Cumque repudiandae aliquid quam ipsum animi quo tenetur porro
        reiciendis, dolorum aspernatur dolorem ut culpa. Ut fugiat, blanditiis
        ullam minima ducimus, alias repellat sit quos delectus rem nesciunt
        expedita beatae sunt. Quibusdam, sapiente obcaecati? Ducimus quisquam
        minus nam est corporis quaerat, quibusdam molestias eligendi magni
        distinctio ut praesentium officia dolore consectetur, culpa nostrum
        modi? Iste, deleniti necessitatibus. Id delectus similique cumque non
        cum esse aliquam veritatis! Culpa, nostrum! Voluptatum libero nam
        tempore exercitationem eos itaque facere optio ex, esse sapiente
        necessitatibus atque similique suscipit ullam, accusantium voluptas
        iusto! Aperiam ipsam officia, commodi debitis molestiae magnam quaerat
        voluptatem dolorum culpa necessitatibus ab excepturi tempora error sunt
        expedita nobis quo praesentium dolor? Temporibus a perferendis expedita
        maxime odio? Doloremque, voluptates atque quo inventore maxime corporis
        assumenda ducimus ullam facere sint voluptatum. Exercitationem corrupti
        nemo ullam deleniti corporis repellat quasi quas commodi, debitis
        veritatis nobis quae consectetur unde? Expedita accusantium dolor
        eligendi. Minus, temporibus. Earum, quas rerum!
      </p>
      <h5>Question 3</h5>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam
        accusamus delectus ullam non debitis corporis vitae provident
        perspiciatis ab odit, sunt repellat voluptates adipisci, minus ex
        corrupti velit magnam fuga. Iste magni dignissimos provident aspernatur
        veritatis quidem illum quam atque, inventore cumque obcaecati. Ea esse
        aspernatur quam soluta fugit enim amet autem porro tenetur veritatis
        ipsa magnam sit rem beatae cum, blanditiis eum iure voluptatum placeat
        nesciunt voluptates at. Explicabo nisi, magni saepe similique neque
        voluptate iste totam ex laborum! Saepe, quam odit. Maiores sunt quaerat
        accusamus assumenda officiis, quia minima iste nesciunt non iure veniam.
        Facilis quibusdam sit voluptas praesentium reprehenderit, sapiente
        laudantium blanditiis soluta tempora deserunt sint quod alias, ratione
        minima nostrum. Doloremque ipsa qui consequatur ratione optio recusandae
        facere accusantium consequuntur minima ducimus. Deleniti qui minus sit
        nemo doloremque quod facilis aliquid sunt eum, officiis debitis ullam
        assumenda illo at sed a ex alias accusantium iusto mollitia ut magni
        unde quibusdam! Aperiam impedit explicabo molestias maiores dolorum
        totam, ducimus veritatis voluptatibus pariatur nemo. Beatae eius
        consectetur, vero ullam quaerat dolorum unde nulla quidem ab doloribus
        repudiandae. Quod dicta hic ducimus molestias quae doloremque dolores,
        delectus et beatae necessitatibus? Dignissimos quibusdam qui consectetur
        debitis. Aliquam perspiciatis ea inventore harum quae asperiores ex
        omnis laboriosam sunt minus earum temporibus reiciendis consectetur
        aperiam error nihil nobis dolorum fugit eaque, magnam incidunt ipsum
        adipisci. Perspiciatis molestiae culpa, reprehenderit delectus quasi
        totam omnis adipisci odit et, autem hic quia sint numquam, amet deserunt
        ipsam est. Unde corrupti, consequuntur fugiat illum porro possimus ullam
        explicabo repellat deserunt. Quia qui, minima illo corporis ab neque
        molestias, labore perspiciatis totam vel id architecto, inventore
        dolores. Nulla itaque voluptas repudiandae natus quaerat. Eligendi illum
        a veritatis expedita quos voluptate tenetur sequi velit corporis debitis
        beatae culpa quidem repellat blanditiis molestiae fugiat est nobis
        maxime sed voluptatum, corrupti libero tempora ipsa? Inventore unde est
        minus, eos fuga atque tenetur iste tempora officiis, porro hic quas quos
        minima soluta voluptatem. Numquam non est ipsa eligendi nisi neque, quo
        facilis quae debitis ratione ipsum fugit hic cum! Ad suscipit
        exercitationem neque asperiores ipsa deleniti, adipisci, impedit hic
        pariatur architecto earum a totam laboriosam dolorem quas, atque illo
        aliquam modi! Numquam, nesciunt. Ipsa facere fugit recusandae.
        Reprehenderit debitis sit, quis reiciendis voluptatem commodi adipisci
        voluptas esse nisi ad qui porro pariatur itaque. Rerum, itaque! Adipisci
        numquam deserunt velit voluptatibus necessitatibus et nihil debitis
        sunt, libero repudiandae ullam aliquam quasi dolorum temporibus quia
        sapiente dolores enim fugit. Hic natus rerum voluptatibus praesentium
        consequatur necessitatibus illo et accusamus molestias, dolores dolore
        facere saepe ab aut aperiam, error facilis! Impedit ea, molestiae, magni
        sint provident illum quis a accusamus alias quisquam soluta quo voluptas
        cum similique porro corporis. Nemo, eius! Amet nihil quis praesentium
        corporis molestiae soluta dolorum laborum in similique eum
        exercitationem suscipit quibusdam saepe sequi, veniam commodi ipsam ea
        id reiciendis odit. Quas, dolore animi maiores veniam fugiat vel laborum
        ullam architecto mollitia ratione delectus aperiam nesciunt blanditiis
        recusandae, sit ipsa autem harum placeat illum quaerat, soluta officia
        voluptates ipsam corporis. Animi, quod voluptatibus eligendi provident
        aperiam magnam neque expedita impedit! Sit necessitatibus distinctio,
        odit dolorem doloribus molestiae soluta excepturi provident illo eaque
        commodi dignissimos animi saepe non a facilis mollitia quasi adipisci
        modi rerum numquam. Beatae architecto animi magni autem neque. Harum a
        recusandae accusantium fuga rerum officia iusto quas numquam, soluta
        voluptatibus eos consectetur rem dignissimos, quae cumque ullam quis
        deleniti provident. Optio quia praesentium, quo veniam maiores nihil
        doloremque assumenda neque ipsum, esse laboriosam voluptas. Eos quasi
        suscipit aspernatur temporibus provident repudiandae quae, labore beatae
        consequatur odio id aliquid, iusto deserunt modi quam enim corporis
        voluptas eligendi laboriosam illo similique? Repellendus blanditiis
        nobis sint aspernatur provident quas suscipit aliquam, eveniet sequi
        aliquid tempora cum! Aliquam, provident. Sunt distinctio a vitae
        corrupti aut commodi assumenda esse, nemo laborum, nostrum iusto
        voluptatum molestiae, facilis quisquam nihil recusandae magni optio
        accusamus! Laudantium voluptate harum reiciendis similique dolores in
        consequuntur consectetur ipsum unde molestias magnam numquam, officiis
        beatae debitis ut neque obcaecati corrupti aliquid suscipit rem cumque
        est perferendis aperiam. Quisquam, minima similique est excepturi
        recusandae hic delectus inventore? Quaerat reprehenderit nobis fugit
        autem voluptatibus. Nesciunt et dolores, nulla accusantium odio beatae
        facere soluta assumenda eum quas distinctio perspiciatis perferendis
        corporis maxime praesentium provident illo dolorum fugiat modi tenetur
        non vitae, optio reprehenderit! Autem, eaque reprehenderit, impedit
        maiores cupiditate maxime tempora placeat, laudantium itaque neque
        debitis vitae beatae velit praesentium rerum. Quidem beatae animi, minus
        quam culpa repellendus in est? Expedita, cum nesciunt excepturi, minima
        eius ipsa eos quaerat aspernatur earum rem animi provident! Ipsam
        fugiat, vel magnam quam repellendus esse suscipit placeat quibusdam
        vitae eius, sint quis sunt sed! Voluptates cumque labore perspiciatis
        rerum beatae nam totam saepe quibusdam accusamus, perferendis, incidunt
        quam earum molestiae unde itaque fugiat iste ratione nemo. Quae magnam
        fugiat, totam sunt ipsa autem maiores. Adipisci, at? Error iste
        accusamus debitis nostrum magnam laboriosam soluta corporis tempora
        temporibus, eveniet rem ipsum adipisci ab veritatis cupiditate nisi
        suscipit incidunt impedit provident quos praesentium sequi culpa.
        Tempora, expedita non laborum mollitia velit sunt impedit fuga itaque,
        rem aut facere molestiae accusamus? Eius, amet, itaque facilis facere
        quod pariatur debitis nihil molestiae tempora eum laboriosam veniam iste
        aliquam harum officiis nobis optio fugiat obcaecati explicabo, incidunt
        illo? Labore quis facilis, libero exercitationem sequi laborum similique
        quos, architecto est officia enim quibusdam ipsa. Explicabo, in animi
        molestiae corrupti quos eveniet corporis omnis adipisci non aliquam,
        similique facere, molestias quaerat consequatur voluptatem. Nisi
        suscipit ratione atque, quae odit dicta non doloremque! Odio nemo
        voluptate fugit architecto laudantium doloremque, ea veritatis ullam
        quos fugiat? Ea hic, nobis quis ratione repellendus doloribus eligendi
        provident itaque soluta atque inventore odio sapiente, expedita
        cupiditate illo maxime ad. Cum dolores inventore sed, dolorum numquam
        assumenda blanditiis vel, fugit asperiores non, nobis eos. Ullam dolorum
        error quod eius, reprehenderit incidunt veritatis in optio provident
        vitae corporis necessitatibus explicabo doloremque sapiente unde quidem
        dolor molestias tempore laborum dolorem delectus. Quisquam harum
        provident velit reiciendis totam aspernatur porro placeat! Deleniti
        nisi, iure voluptates asperiores molestias officiis quod tempore placeat
        numquam!
      </p>
    </div>
    <div class="col-3 bg-success">
      <div class="container position-fixed">
        <h5>Timer here</h5>
        <h5>Submit button</h5>
      </div>
    </div>
  </div>
</div>
{% endblock %}
